body {
    background-color: black;
    text-align: center;
    color: darkturquoise;
    font-size: 48px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
}

.time {
    border: 1px solid;
    padding: 10px;
    margin-top: 50px;
    font-size: 60px;
    width: fit-content;
}

.digit {
    width: 100px;
    height: 150px;
    margin: 2px;
}

button {
    font-size: 24px;
    padding: 10px;
    margin-top: 20px;
    background-color: darkturquoise;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: lightblue;
}

/* Alarm settings */
#alarm-settings {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid darkturquoise;
    display: inline-block;
}

/* Clear alarm button */
#clear-alarm {
    background-color: red;
    color: white;
}
